body {
    display: grid;
    grid-template-columns: auto 220px 430px 40px auto;
    grid-template-rows:60px 100px 1fr 1fr [footer] 180px;
    grid-gap:5px 10px;
    
    color:lightgrey;
    background-color:#4a525a;
    font-family:sans-serif;
    font-size: 12px;
    line-height: 1.8em;
    padding:0;
    margin:0;
}

.switch{
 
    position: sticky;
    top:60px;
    grid-column:4;
    grid-row:3;
} 

.toggle {
    text-align: right;
    font-size: 1p
    border: 0 1 0 1;
    padding: 0px 0px 30px;
    border-color: none;
    
}

.switch input {
    opacity: 0;
    position:inherit;
}


#eyeball {
    position: absolute;
    cursor: none;
    background: inherit;
    transition: 1s;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: inset 0px 2px 0px 10px; 
}

.light-mode #eyeball {
    position: absolute;
    cursor: none;
    background: inherit;
    transition: 1s;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: inset -3px 5px 0px 10px; 
}

.light-mode {
  background: rgb(242 242 255);
  color: rgb(30 30 40);
}


#Logo {
    grid-column: 2;
    grid-row: 2;
    opacity: .5;
}

.light-mode #Logo {
    grid-column: 2;
    grid-row: 2;
    opacity: .5;
    filter: invert(.3);
}

#Logo:hover {
    background: rgb(64 72 80);
    width: 240px;
    height: 56px;
    opacity: .8;
}

.light-mode #Logo:hover {
     background: rgb(12 10 10);
    width: 240px;
    height: 56px;
    opacity: .9;
    
}

#Sidebar {
    padding-top: 1px;
    padding-right: 40px;
    grid-column: 2;
    grid-row: 3;
    opacity:.8;
    border: 0;
    text-align: right;
}

#Sidebar ul{
    list-style-type: none;
    padding: 30px 0px 60px 40px;
    letter-spacing: 2px;
    border:0;

}

#Sidebar li:hover{
    color: white;
    background-color: darkgrey;
    border:0;
}

.light-mode #Sidebar li:hover{
    color: darkgrey;
    background-color: black;
    border:0;
}

h2:hover {
    color:white;
    background: darkgrey;
    width: fit-content;
}


#Cicero:hover {
    transform:scale(1.01);
    opacity:.5;
}

.light-mode #Cicero:hover{
    transform:scale(1.01);
    opacity:.5;
    filter:invert(.9);
    
}

#Quote {
    color: darkgrey;
    margin: 0;
}

#Content{
    grid-column: 3;
    grid-row: 3;
    font-size:13px;
    
}

.Story {
    padding-bottom: 40px;
}

h4 {
    color:darkgrey;  
    font-size: .8em
}

.light-mode h4 {
    color:black;  
    font-size: .8em
}


h2 {
    padding: 2px 2px 0px 2px;
    font-family: "Gill Sans MT", "Gill Sans", "Gill Sans Std", Georgia, serif;
    font-size: 1.05em;
    line-height: 1.8em;
    width: fit-content;
  

    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: normal;
}

p {
    margin: 0 0 1.6em 0;
    padding: 0;
    
}
